<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
  <title>Document</title>
</head>
<body>

  <div class="main_div">
    <h1 class="headline">Natural Language Processing <br> Machine Learning</h1>
    <h2 class="second_headline">Upload .csv file</h2>
    <form class="csv_upload_form" action="" method="POST" enctype="multipart/form-data">
      <label class="upload_button load_csv">
        <input type="file" id="uploaded_file" name="file" accept=".csv, .tsv" onchange="changeColorSubmit()">
        <i class="fa fa-cloud-upload"></i>
        Upload File
      </label>
      <label class="upload_button submit_csv" onclick="changeColorShowCSV()">
        <i class="fa fa-cloud-upload"></i>
        <input type="submit" value="Submit">
        Submit
      </label>
    </form>

    <form class="show_csv_form" action="/select" method="POST">
      <label class="upload_button show_csv">
        <i class="fa fa-cloud-upload"></i>
        <input type="submit" value="Show CSV"/>
        Show CSV
      </label>
    </form>
    
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</html>