<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
  <title>Document</title>
</head>
<body>

  <div class="model_result_div"> 
    <h2 class="results prediction_headline">Results of the prediction models</h2>

    <div class="trained_labels">
      <p>Trained Labels:</p>
      <div class="trained_labels_text"></div>
    </div>

    <div class="model_output">{{model|safe}}</div>

    <h2 class="results cross_val_headline">Results of the cross validation</h2>

    <div class="model_output cross_val">
      {{model_pred_cross_val|safe}}
    </div>

    <div class="download_div">
      <p>
        <button class="btn download_model">
          <a href="{{ url_for('.download_file') }}" >
            Download Models
            <span class="hovertext" data-hover="Models are saved as pipeline with pickle">
            </span>
          </a>
        </button>
      </p>

      <div class="test_input">
        <p>Enter text to test the models:</p>
        <div class="prediction_form">
          <input type="text" name="text_input" class="text_input prediction" placeholder="Test input..">
          <button class="prediction_button">PREDICT</button>
        </div>
        <table id="text_prediction_result" class="display">
          <thead>
            <tr>
              <th>Model</th>
              <th>Prediction</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>

  </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>    
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script>
      printLabels({{labels|safe}});
    </script>
</html>